html, body, textarea, div, span, pre, input, aside, section, nav, header, footer {
	font: 12px/1.4 "Microsoft Yahei","微软雅黑","Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
	margin: 0;
	padding: 0;
}

#content{
	margin: 0 auto;
	width: 960px;
}

td img, th img{
	vertical-align: middle;
}

aside {
	float: left;
}
