
#content {
	width: 600px;
}

h1 {
	text-align: center;
	
}

h2 {
	margin: 0 auto;
	width: 500px;
	margin-bottom: 20px;
	font-size: 15px;
	background-color: lightgreen;
	padding: 10px;
}

tr img {
	vertical-align: middle;
}

.help {
	font-size: 80%;
}

#personal_info tr {
	line-height: 25px;
}

#personal_info th {
	text-align: right;
}

#research_info {
	margin-top: 15px;
}

#research_info tr {
	text-align: left;
}

#research_info th {
	padding-top: 15px;
}

#research_info .additional {
	display: none;
}



