
#content {
	width: 600px;
}

h1 {
	text-align: center;
	
}

h2 {
	margin: 0 auto;
	width: 500px;
	margin-bottom: 20px;
	font-size: 15px;
	background-color: lightgreen;
	padding: 10px;
}

tr img {
	vertical-align: middle;
}

.help {
	font-size: 80%;
	font-weight: normal;
}

#personal_info tr {
	line-height: 25px;
}

#personal_info th {
	text-align: right;
}

#research_info {
	margin-top: 15px;
}

#research_info th, td {
	text-align: left;
}

#research_info th {
	padding-top: 15px;
}

#research_info .additional {
	display: none; 
}

em {
	font-size: 130%;
	font-style: normal;
}

#verifyImg {
	cursor: pointer;
}

#submit {
	font-size: 100%;
	font-weight: bold;
	background-color: lightgreen;
	cursor: pointer;
}

#msg {
	background:#fff url("/Utility/Public/images/h80.png") repeat-x scroll 0 0;
	border-bottom:2px solid #789;
	padding: 13px;
	display: none;
	width: 100%;
	text-align: center;
	font-size: 130%;
	position:fixed;
	left:0;
	top:0;
}

#origMajorBtns, #jobBtns {
	width: 350px;
}

.tagBtn {
	display: inline-block;
	padding:0px 5px; 
	margin:5px 5px 5px 0px; 	
	background-color: #FFCC33;
	cursor: pointer;
	font-weight: bold;
	border-radius: 10px;
}


